<p>A cafeína
    O principal composto ativo do café é a cafeína, que também está presente em outras bebidas como os chás.
    A cafeína é um alcaloide psicoestimulante (droga capaz de estimular a atividade, a vigília e a atenção)
    que
    pertence ao grupo das xantinas. Os derivados das xantinas são utilizados como estimulantes cerebrais ou
    estimulantes psicomotores por atuarem no córtex cerebral e nos centros medulares. Por isso, a cafeína
    tem um
    efeito acentuado sobre a função mental e comportamental. Ela atua no sistema nervoso autônomo e seu
    mecanismo de ação inibe os receptores de adenosina.
</p>
<p>
<h4>Café faz mal?</h4>

Em indivíduos adultos, a cafeína presente no café parece proteger o cérebro de danos causados por estresse.
Mas,
na vida intrauterina, ela pode atrapalhar o desenvolvimento neural do feto e corroborar com fatores de risco
para doenças como epilepsia.

Apesar de não ser comprovado que o café faz mal, ele não é considerado seguro para crianças e adolescentes,
por
isso não deixe os pequeninos ingerirem mais de 100 mg por dia de cafeína.
<h4>Efeitos colaterais</h4>

Diz o ditado que a diferença entre veneno e remédio é a dose. Pessoas que ingerem mais de cinco xícaras de
café
por dia (mais de 500 mg ou 600 mg) podem sentir efeitos adversos. Entre eles, destacam-se: dor de cabeça,
insônia, nervosismo, agitação, irritabilidade, dor de estômago pelo aumento do suco gástrico, batimentos
cardíacos acelerados e tremores musculares. Pessoas que não costumam ingerir café com frequência podem
sentir os
efeitos negativos mesmo em baixas doses.</p>